input {
    
    width: 150px;
    height: 100px;
    font-size: 75px;
    border-radius: 10px;
    margin: 10px;
    background-color: aliceblue;
    color: black;
    border-style: none;
}
#calform {
    margin-left: 450px;
    margin-top: 20px;
}
h1 {
    text-align: center;
    font-size: 80px;
    margin-right: 150px;
    margin-top: 50px;
}
input:hover {
    color: rgb(255, 0, 0);
    background-color: darkturquoise;
}
body {
    background-image: linear-gradient(to right,yellow,green);
}